.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-bar {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: none;
}

.styled-table {
    border-collapse: collapse;
}

thead tr th {
    cursor: pointer;
}

thead tr th.ascending::after {
    content: '👇';
    display: inline-block;
    margin-left: 1em;
}

thead tr th.descending::after {
    content: '☝️';
    display: inline-block;
    margin-left: 1em;
}

.styled-table td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: center;
}

.styled-table tr:nth-child(even) {
    background-color: #eee;
}
